*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: rgb(20, 20, 20);    
}

.no-decoration {
    text-decoration: none;
}

.blue {
    color: rgb(24, 86, 209);
}

.purple {
    color: rgb(144, 24, 209);
}